.header{
    color: rgb(0, 0, 0);
    background: rgb(141, 82, 219);
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    font-style: italic;
}

.footer {
    background: rgb(141, 82, 219);
    color: #000;
    font-style: italic;
    text-align: right;
    font-size: 14px;
    padding-right: 20px;
    line-height: 30px;
    height: 30px;
    width: 99%;
}
.content {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    background-color: rgb(214, 182, 255); 
    font-size: 20px 80px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    line-height: 80px;
}